
.btn-rounded{
    background-color: var(--bgColor2);
    color: var(--hlColor1);
}
.btn-rounded:hover{
    background-color: var(--hlColor1);
    color: var(--bgColor2);
}
.btn-rounded:active{
    --mdb-btn-active-border-color: var(--bgColor2);
}

