@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Variáveis principais */
:root {
    --bgColor1: #d6d3d1; 
    --bgColor2: #292524; 
    --bgColor3: #94a3b8;
    --hlColor1: #facc15; 
    font-family: "Poppins", sans-serif;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bgColor1);
    font-size: 16px;
    margin: 0;
    color: var(--bgColor2);
}

/* Navbar  */
.navbar {
    font-family: "Montserrat", sans-serif;
    padding: 16px;
    background-color: var(--bgColor2);
}

/* Logo Estilos */
.logo {
    display: flex;
    align-items: center;
    margin-right: auto; 
}

.navbar-brand img {
    height: 40px;
    margin-right: 8px;
}

.logo .navbar-brand {
    color: var(--bgColor1);
}

/* Estilos de Botões da Navbar */
.navbar button {
    background: none; 
    color: var(--bgColor1);
    border: none; 
    margin-left: 10px; 
    cursor: pointer; 
}

/* Barra de Busca */
.search-bar {
    flex-grow: 1;
    display: flex;
    justify-content: center; 
}

.navbar .form-control {
    min-width: 400px; 
}

/* Ícone de Busca */
.input-group-text .fa-search {
    color: var(--bgColor1); 
}

/* Estilos Gerais de Botões */
button {
    transition: background-color 0.3s ease; 
}

button:hover {
    background-color: rgba(255, 255, 255, 0.1); 
}

/* Estilos de Botão da Sidebar */
.btn-sidebar {
    margin: auto; 
    border-radius: 12px; 
    border: 1px solid var(--bgColor2); 
}

/* estilo dos card de produtos */
.card{
    background-color: var(--bgColor2);
}
.img-fluid{
    padding: 16px;
    border-radius: 24px;
}
.card-title{
    color: var(--bgColor1);
}
.product-price-cash{
    color: var(--hlColor1);
    margin-top: 16px;
}
.product-price-card{
    color: #9ca3af;
}
.title_container{
    display: flex;
    justify-content: center;
    margin-top: 5vw;
    margin-bottom: 5vw;
    flex-direction:column;
    align-items:center;
}

.page_title{
    text-align: center;
    color: var(--bgColor2);
}

.title_line{
	height:4px;
	width:30%;
	background-color: var(--bgColor2);
    border-radius: 35px;
}
.marginTop{
    margin-top: 10vh;
}
footer{
background-color: var(--bgColor2);
color: #fff;
padding: 20px;
text-align: center;
margin-top:20vh;
}